.gallery {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 24px 0 24px 0;
}

.gallery-image {
    width: 360px;
    transition: transform 0.3s ease;
}

.gallery-image:hover {
    cursor: pointer;
    transform: scale(1.03);
}